@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <style>
        body {
            background-color: rosybrown; /* Color de fondo café */
            color: WindowText; /* Color de texto blanco para mayor contraste */
            font-family: Arial, sans-serif; /* Fuente */
        }
    </style>
    <h1 class="display-4">Bienvenidos</h1>
    <p>registro de empreado <a href=""></a>.</p>
</div>
